[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distrr"]
	path = distrr
	url = https://github.com/gibonet/distrr
[submodule "ggswissmaps"]
	path = ggswissmaps
	url = https://github.com/gibonet/ggswissmaps
